body {
    background-image: url(background-main.png);
    font-family: Arial, Helvetica, sans-serif;
}

header {
	color: white;
    display: flex;
    flex-direction: row;
    
    justify-content: flex-start;
}

img {
    width: 100%;
    height: 100%;
    position: relative;
    top: -10px;
    border-radius: 12px;
}

.hello {
    background-image: url(background-1.jpg);
    width: 50%;
    height: 80%;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
}

.nav {
	color: white;
    background-image: url(background-3.png);
    height: auto;
    width: 40%;
    border-radius: 12px;
    margin: 5px;
    padding: 5px;
}
	.nav input {
		color: white;
	}
	
.texts {
	color: #FCEAEA;
    background-image: url(background-2.png);
    height: center;
    text-align: center;
    border-radius: 15px;
    margin: 55px;
    padding: 55px;
}

.nav .button {
    border: none;
    background-color: transparent;
    text-decoration: none;
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content {
	color: white;
    background-image: url(background-4.jpg);
    width: 40%;
    height: auto;
    border-radius: 12px;
    margin: 7px;
    padding: 5px;
    position: absolute;
    margin-top: 700px;
}

.content h4 {
    text-align: center;
}

.input {
    width: 20px;
}

.quiz-frame {
    border: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.quiz__head {
    font-size: 15pt;
    margin: 10px;
    margin-bottom: 50px;
}

.head__content {
    padding: 5px;
}

.quiz__body {
    margin: 10px;
}

.quiz__footer {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
}

.footer__content {
    padding: 5px;
}

.quiz__body .button {
    border: 0;
    background-color: gray;
    width: 70%;
    font-size: 15pt;
    display: block;
    margin: 2px auto;
    cursor: pointer;
}

.button_wrong {
    background: #EB6465;
}

.button_correct {
    background: #5EB97D;
}

.button_passive {
    background: #220707;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.top-left {
    font-family: Impact, sans-serif;
    font-size: 2.2em;
    position: absolute;
    color:black;
    top: 100px;
    left: 100px;
}
.top-right {
    font-family: Impact, sans-serif;
    font-size: 2.2em;
    position: absolute;
    color:black;
    top: 100px;
    right: 100px;
}
.centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.current {
    background: #b9b69b;
    text-align: center;
    background: rgb(207, 219, 191);
    border-radius: 12px;
}
.container {
    width: 100%;
    height: 100%;
    display: table;
   
}
.t-c{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
.calendar {
    display: inline-block;
    width: 300px;
    margin: auto;
    background: #0a2276;
    box-shadow: 0 5px 25px rgba(16, 16, 16, 0.5);
    color: #fff;
    border-radius: 12px;
}
.date {
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 40px;
}
.month {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
}
.day {
	height: 30px;
	width: 100%;
	font-size: 15px;
	line-height: 30px;
}
.year {
	height: 40px;
	width: 100%;
	line-height: 40px;
	font-size: 30px;
}
.date-small {
	list-style-type: none;
	width: 30px;
	height: 30px;
	margin: 5px;
	display:inline-block;
	border-radius: 50%;
	font-size: 15px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}
.date-small:hover {
	background: #e0b70d;
}
.datelist {
    border-radius: 12px;
    float: left;
    width: 100%;
    height: 100%;
    background: #8d6666cc;
    box-shadow: 0 -25px 25px -25px rgba(16, 16, 16, 0.5);
}
.today {
	background: rgb(203, 239, 214);
	color: #000;
}
.today:hover {
	background: #e0b70d;
	transition:0.3s;
}
.day-full {
    background: #b9b69b;
    z-index: 3;
    width: 100%;
    height: 50px;
    float: left;
    line-height: 50px;
    text-align: center;
    cursor: default;
    border-radius: 12px;
}